"\e[5~": history-search-backward
"\e[6~": history-search-forward
set completion-query-items 100
set output-meta on
set bell-style visible
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set expand-tilde on
set show-all-if-ambiguous on
